/* .split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: rgb(40 42 45);
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
  width: 5px !important;
} */

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #333;
  border: 1px solid #585858;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
  margin-top: 58px;
}

.draggable {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 150px;
  left: 100px;
  line-height: 100px;
  text-align: center;
  background: #ee8;
  color: #333;
  font-weight: bold;
  border: 1px solid #333;
  box-sizing: border-box;
}

.test {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn-element {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  background: #4af;
  border-radius: 4px;
  appearance: none;
  border: 0;
  color: white;
  font-weight: bold;
}

.div-element {
  position: absolute;
  left: 0px;
  top: 0px;
  will-change: transform;
  transform-origin: 0px 0px;
}

.element {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.element1 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: black;
}

.target-element {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
